@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kode+Mono:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* *{
    margin: 0;
    padding: 0;
} */
body{
    font-family: Quicksand;
    margin: 0px 140px;
}
.display-flex{
    display: flex;
}

/* nav bar design */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.icon-name{
    font-size: 32px;
    font-weight: 700;
}
.icon{
    width: 62px;
    height: 62px;
    margin-top: 30px;
    margin-right: 10px;
}
.about-list{
    list-style: none;
    gap: 32px;
}
.home{
    font-size: 20px;
    font-weight: 700;
    color: rgb(254, 163, 1);
}
.ab{
    color: rgb(1, 172, 253);
    font-size: 20px;
    font-weight: 500;
}
.am{
    color: rgb(93, 88, 239);
    font-size: 20px;
    font-weight: 500;
}
.fl{
    color: rgb(5, 212, 223);
    font-size: 20px;
    font-weight: 500;
}
.primary-btn{
    border-radius: 12px;
    border: none;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    padding: 10px 50px;

}


/* banner */

.banner{
    /* align-items: center; */
    justify-content: space-between;
}
.banner-title{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}
.ep{
    color: orange;
}
.tv{
    color: aqua;
}
.banner-details{
    width: 660px;
    height: 330px;
    padding-top: 90px;
    
}
.banner.p{
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}
.enroll-btn{
    border-radius: 12px;
    border: none;
    background: rgb(17, 17, 17);color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 550;
    padding: 15px 34px;
    }